In [1]:
#adding the series of values
#serobject3=serobject1.add(serobj2)
import numpy as np
import pandas as pd
a=pd.Series([100,200,300,400,500],index=["a","b","c","d","e"])
b=pd.Series([10,20,30,40,50],index=["a","b","c","d","e"])
print("----------------------------------")
print("Series-1")
print(a)
print("----------------------------------")
print("Series-2")
print(b)
print("----------------------------------")

----------------------------------
Series-1
a    100
b    200
c    300
d    400
e    500
dtype: int64
----------------------------------
Series-2
a    10
b    20
c    30
d    40
e    50
dtype: int64
----------------------------------

In [2]:
s=a.add(b)
print(s)

a    110
b    220
c    330
d    440
e    550
dtype: int64

In [4]:
a=pd.Series([100,200,300,400,500],index=["a","b","e","d","c"])
b=pd.Series([10,20,30,40,50],index=["a","b","h","r","e"])
s=a.add(b)
print(s)

a    110.0
b    220.0
c      NaN
d      NaN
e    350.0
h      NaN
r      NaN
dtype: float64

In [5]:
#add the series of Values----we use   setobj3=serobj1.add(serobj2,fill_value=0)
c=a.add(b,fill_value=0)
print(c)

a    110.0
b    220.0
c    500.0
d    400.0
e    350.0
h     30.0
r     40.0
dtype: float64

In [6]:
#Adding the Series of Values when Series object contains Different Label Names
a=pd.Series([100,200,300],index=["a","b","c"])
b=pd.Series([10,20,30],index=["x","y","z"])
c=a.add(b)
print(c)

a   NaN
b   NaN
c   NaN
x   NaN
y   NaN
z   NaN
dtype: float64

In [7]:
a=pd.Series([100,200,300],index=["a","b","c"])
b=pd.Series([10,20,30],index=["x","y","z"])
c=a.add(b,fill_value=0)
print(c)

a    100.0
b    200.0
c    300.0
x     10.0
y     20.0
z     30.0
dtype: float64

In [8]:
a=pd.Series([100,200,300],index=["a","b","c"])
b=pd.Series([10,20,30],index=["x","y","z"])
c=a.add(b,fill_value=1)
print(c)

a    101.0
b    201.0
c    301.0
x     11.0
y     21.0
z     31.0
dtype: float64

In [9]:
#Substracting 
a=pd.Series([100,200,300,400,500],index=["a","b","c","d","e"])
b=pd.Series([10,20,30,40,50],index=["a","b","c","d","e"])
c=a.sub(b)
print(c)

a     90
b    180
c    270
d    360
e    450
dtype: int64

In [10]:
a=pd.Series([100,200,300,400,500],index=["a","b","e","d","c"])
b=pd.Series([10,20,30,40,50],index=["a","b","h","r","e"])
s=a.sub(b)
print(s)

a     90.0
b    180.0
c      NaN
d      NaN
e    250.0
h      NaN
r      NaN
dtype: float64

In [12]:
c=a.sub(b,fill_value=0)
print(c)

a     90.0
b    180.0
c    500.0
d    400.0
e    250.0
h    -30.0
r    -40.0
dtype: float64

In [14]:
a=pd.Series([100,200,300],index=["a","b","c"])
b=pd.Series([10,20,30],index=["x","y","z"])
c=a.sub(b)
print(c)

a   NaN
b   NaN
c   NaN
x   NaN
y   NaN
z   NaN
dtype: float64

In [15]:
a=pd.Series([100,200,300],index=["a","b","c"])
b=pd.Series([10,20,30],index=["x","y","z"])
c=a.sub(b,fill_value=0)
print(c)

a    100.0
b    200.0
c    300.0
x    -10.0
y    -20.0
z    -30.0
dtype: float64

In [16]:
a=pd.Series([100,200,300],index=["a","b","c"])
b=pd.Series([10,20,30],index=["x","y","z"])
c=a.sub(b,fill_value=1)
print(c)

a     99.0
b    199.0
c    299.0
x     -9.0
y    -19.0
z    -29.0
dtype: float64

In [17]:
c=a.sub(b,fill_value=2)
print(c)

a     98.0
b    198.0
c    298.0
x     -8.0
y    -18.0
z    -28.0
dtype: float64

In [18]:
a=pd.Series([100,200,300,400,500],index=["a","b","h","d","e"])
b=pd.Series([10,20,30,40,50],index=["a","b","f","c","e"])
print("----------------------------------")
print("Series-1")
print(a)
print("----------------------------------")
print("Series-2")
print(b)
print("----------------------------------")
#add the series of Values----we use   setobj3=serobj1.sub(serobj2,fill_value=0)
c=a.sub(b,fill_value=0)
print("Series-3")
print(c)
print("----------------------------------")

----------------------------------
Series-1
a    100
b    200
h    300
d    400
e    500
dtype: int64
----------------------------------
Series-2
a    10
b    20
f    30
c    40
e    50
dtype: int64
----------------------------------
Series-3
a     90.0
b    180.0
c    -40.0
d    400.0
e    450.0
f    -30.0
h    300.0
dtype: float64
----------------------------------

In [ ]:
#Droping The Value
#Droping the Values of Series
#Syntax:	SeriesObj.drop([Index])
#SeriesObj.drop([Label])
#SeriesObj.drop([Index1,index2,.....,Index-n])
#SeriesObj.drop([Label1,Label2,.....Label-n])
#SeriesObj.drop([Index1,index2,.....,Index-n],inplace=True)
#SeriesObj.drop([Label1,Label2,.....Label-n],Inplace=True)

In [31]:
#Syntax:	SeriesObj.drop([Index])
a=pd.Series([100,200,300,400,500],index=["a","b","h","d","e"])
print(a)
print("-----------------------")
print(a.drop(["a"]))

a    100
b    200
h    300
d    400
e    500
dtype: int64
-----------------------
b    200
h    300
d    400
e    500
dtype: int64

In [32]:
a.drop(["h"])

a    100
b    200
d    400
e    500
dtype: int64

In [33]:
a.drop(["b"])

a    100
h    300
d    400
e    500
dtype: int64

In [34]:
#SeriesObj.drop([Index1,index2,.....,Index-n])
print(a)

a    100
b    200
h    300
d    400
e    500
dtype: int64

In [35]:
a.drop(["a","b","d"])

h    300
e    500
dtype: int64

In [37]:
a.drop(["a","e"])

b    200
h    300
d    400
dtype: int64

In [55]:
#SeriesObj.drop([Index1,index2,.....,Index-n],inplace=True)
a=pd.Series([100,200,300,400,500])
a.drop([2],inplace=True)
print(a)

0    100
1    200
3    400
4    500
dtype: int64

In [56]:
print(a.drop([0],inplace=True))

None