In [1]:
import numpy as np
import pandas as pd
lst=["Rossum","Travis","Ritche","Dennis","Hunter"]
s=pd.Series(lst)
print("Series Object Data")
print(s)

Series Object Data
0    Rossum
1    Travis
2    Ritche
3    Dennis
4    Hunter
dtype: object

In [2]:
lst=["Rossum","Travis","Ritche","Dennis","Hunter"]
s=pd.Series(lst,index=["a","b","c","d","e"])
print("Series Object Data")
print(s)

Series Object Data
a    Rossum
b    Travis
c    Ritche
d    Dennis
e    Hunter
dtype: object

In [4]:
s["a"]

'Rossum'

In [6]:
lst=["Rossum","Travis","Ritche","Dennis","Hunter"]
s=pd.Series(lst,index=["a","b","c","d","e"],name="student")
print("Series Object Data")
print(s)

Series Object Data
a    Rossum
b    Travis
c    Ritche
d    Dennis
e    Hunter
Name: student, dtype: object

In [9]:
print(s.name)

student

In [11]:
s.name="studetns"

In [12]:
print(s.name)

studetns

In [15]:
print(s.values)

['Rossum' 'Travis' 'Ritche' 'Dennis' 'Hunter']

In [17]:
for name in s.values:
    print(name)

Rossum
Travis
Ritche
Dennis
Hunter

In [19]:
#get Number of Values in series object--'size'
print("Number of Elements=",s.size)

Number of Elements= 5

In [21]:
print(s.size)

5

In [34]:
s1=pd.Series([10,20,30,np.nan,40,50,np.nan,44,np.nan])
print(s1,type(s1))

0    10.0
1    20.0
2    30.0
3     NaN
4    40.0
5    50.0
6     NaN
7    44.0
8     NaN
dtype: float64 <class 'pandas.core.series.Series'>

In [35]:
#to get the no of elements in the array series
print("no of elements",s1.size)

no of elements 9

In [36]:
#to get the count of series without nan value with attribute count
print("count of elements=",s1.count())

count of elements= 6

In [37]:
print(s1.count())

6

In [40]:
a=pd.Series([10,20,30,40,50,60,80])
print(a)

0    10
1    20
2    30
3    40
4    50
5    60
6    80
dtype: int64

In [ ]:
#Note--Series Attributes are
# 1. name
# 2. values
# 3. size
# 4. empty
# 5 dtype

In [42]:
print(a.head(3))

0    10
1    20
2    30
dtype: int64

In [43]:
print(a.tail(3))

4    50
5    60
6    80
dtype: int64

In [44]:
a=pd.Series()
print(a)

Series([], dtype: object)

In [45]:
print(a.empty)

True

In [46]:
a=pd.Series([12,33])
print(a)

0    12
1    33
dtype: int64

In [47]:
a.empty

False

In [48]:
print(a.empty)

False