In [2]:
#Statistical Operations on Series Object
import numpy as np
import pandas as pd
a=pd.Series([10,20,30,40,50])
print("Series is \n",a)

Series is
 0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
#seriesobj.sum()
#to find the sum of element in series
print(a.sum())

150

In [4]:
print("Sum of Numbers is =",a.sum())

Sum of Numbers is = 150

In [5]:
#seriesobj.count()
#to print the no of elements in series
print(a.count())

5

In [6]:
#seriesobj.max()
#to print the maximum no of element 

print(a.max())

50

In [7]:
#seriesobj.min()
#to print the minimum no of element

print(a.min())

10

In [8]:
#seriesobj.mean()
#to print them mean of series

print(a.mean())

30.0

In [9]:
#seriesobj.median()
#to print the median of series

print(a.median())

30.0

In [10]:
#serieobj.var()

print(a.var())

250.0

In [11]:
#seriesobj.std()

print(a.std())

15.811388300841896

In [12]:
#seriesobj.mode()

print(a.mode())

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [13]:
# seriesobj.describe()
#to get all the valuess from count, mean, std, min, max 
print(a.describe())

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

In [16]:
#print(seriesobj.agg(["max","min","mean".........]))

# to print the min , max ,mean aggreagation at a time 

print(a.agg(["max","min","mean","std"]))

max     50.000000
min     10.000000
mean    30.000000
std     15.811388
dtype: float64

In [17]:
#seriesobj.product()

print(a.product())

12000000

In [19]:
#seriesobj.cumprod()

print(a.cumprod())

0          10
1         200
2        6000
3      240000
4    12000000
dtype: int64

In [20]:
b=pd.Series([1,2,3,4,5,6,88,33,23,44])
print(b)

0     1
1     2
2     3
3     4
4     5
5     6
6    88
7    33
8    23
9    44
dtype: int64

In [21]:
print(b.count())

10

In [22]:
print(b.median())

5.5

In [23]:
print(b.mode())

0     1
1     2
2     3
3     4
4     5
5     6
6    23
7    33
8    44
9    88
dtype: int64

In [29]:
print(b.agg(["max","min","mean","std"]))

max     88.00000
min      1.00000
mean    20.90000
std     27.93027
dtype: float64

In [30]:
print(b.count())

10

In [32]:
print(b.var())

780.0999999999998

In [33]:
print(b.mode())

0     1
1     2
2     3
3     4
4     5
5     6
6    23
7    33
8    44
9    88
dtype: int64